@charset "UTF-8";

/*@media only screen and (max-width:768px){
}*/

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.wrapper > div{
    /*background-color: #DFDDDD;*/
    text-align: center;
    color: #464458;
    padding:3em;
}

body {
    background-color: #fcebeb;
    /*width:auto;*/
}

h1{
    font-family: Courier New, monospace;
    font-weight: 500;
    font-size: 50px;
}

p{
    font-family: Optima, sans-serif;
    font-size: 20px;
}

.div_2 {
    margin-top: 2em;
    padding: 2em;
}

#main_gif {
    /*background-color: #eee;*/
    width: 100%;
}

.GridContainer {
    display:grid;
    background-color: lightblue;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding: 10px;
}
.GridItems {
    align-self: center;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
}

/*.youtube {
    width: 420;
}*/

.animation{
    max-width: 15%;
    max-height: 15%;
    position: relative;
    padding: 0em 5em;
    animation-name: example;
    animation-duration: 8s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {left:20px; top:0px;}
    /*25%  {left:500px; top:0px;}
    50%  {left:500px; top:200px;}
    75%  {left:20px; top:200px;}
    100% {left:20px; top:0px;}*/
    50% {left:500px; top:0px;}
    100% {left:20px; top:0px;}
    
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

/*.div_text {
    text-align: center;
    color: #464458;
    padding: 1em;
}*/

.button {
    background-color: lightpink;
    border: none;
    font-family:Gill Sans, sans-serif;
    color: black;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: #464458;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #464458;
    position: fixed;
    top:0;
    left: 0;
    width: 100%
}

li {
    float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: Gill Sans, sans-serif;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: lightpink;
    font-family:Gill Sans, sans-serif;
    font-size: 16px;
    color: #464458;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #464458;
    color: white;
}

#fname {
    font-family: monospace;
}

#lname {
    font-family: monospace;
}

#subject {
    font-family: monospace;
    height:200px;
}

.container {
    background-color:whitesmoke;
    font-family: Optima, sans-serif;
    color: #464458;
    padding: 20px;
}
